In [1]:
import glob
import math
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filename1 = glob.glob('*_Binance_*.csv')
dp = pd.read_csv(filename1[0])

In [3]:
dp.head(20)

          Date     Price      Open      High       Low     Vol. Change %
0   05/23/2023  1,855.94  1,817.39  1,868.88  1,815.40  397.99K    2.13%
1   05/22/2023  1,817.17  1,804.36  1,827.36  1,792.33  237.51K    0.68%
2   05/21/2023  1,804.90  1,820.28  1,827.45  1,799.00  161.59K   -0.81%
3   05/20/2023  1,819.66  1,812.31  1,828.04  1,807.06  127.68K    0.41%
4   05/19/2023  1,812.31  1,800.09  1,829.33  1,796.95  243.26K    0.63%
5   05/18/2023  1,800.95  1,822.93  1,831.50  1,774.82  293.73K   -1.16%
6   05/17/2023  1,822.11  1,824.36  1,834.41  1,785.76  352.10K   -0.10%
7   05/16/2023  1,823.95  1,816.13  1,829.96  1,797.59  311.43K    0.38%
8   05/15/2023  1,817.13  1,799.33  1,845.21  1,786.60  387.98K    0.99%
9   05/14/2023  1,799.33  1,794.87  1,822.91  1,791.84  218.10K    0.24%
10  05/13/2023  1,795.11  1,807.47  1,814.58  1,786.16  212.90K   -0.67%
11  05/12/2023  1,807.28  1,794.82  1,812.30  1,741.50  565.53K    0.70%
12  05/11/2023  1,794.67  1,840.96  1,841.00  1,774.29  522.10K   -2.51%
13  05/10/2023  1,840.88  1,846.63  1,886.83  1,797.00  639.92K   -0.31%
14  05/09/2023  1,846.53  1,847.16  1,858.51  1,832.05  304.42K   -0.05%
15  05/08/2023  1,847.45  1,867.22  1,883.44  1,813.75  625.74K   -1.26%
16  05/07/2023  1,870.95  1,897.36  1,931.39  1,870.94  413.17K   -1.34%
17  05/06/2023  1,896.33  1,994.20  2,012.99  1,868.05  608.16K   -4.86%
18  05/05/2023  1,993.30  1,877.26  1,996.60  1,875.66  546.55K    6.19%
19  05/04/2023  1,877.07  1,904.89  1,915.16  1,868.18  354.85K   -1.45%

In [4]:
sns.set_style("whitegrid") 
sns.set_context("notebook")
# sns.set_palette(sns.cubehelix_palette(x))

In [5]:
dp['Price'] = dp['Price'].str.replace(',', '').astype(float)
dp['Returns'] = dp['Price'] / dp['Price'].shift(1) - 1
dp.head(10)

,Date,Price,Open,High,Low,Vol.,Change %,Returns
0,05/23/2023,1855.94,"1,817.39","1,868.88","1,815.40",397.99K,2.13%,NaN
1,05/22/2023,1817.17,"1,804.36","1,827.36","1,792.33",237.51K,0.68%,-0.020890
2,05/21/2023,1804.90,"1,820.28","1,827.45","1,799.00",161.59K,-0.81%,-0.006752
3,05/20/2023,1819.66,"1,812.31","1,828.04","1,807.06",127.68K,0.41%,0.008178
4,05/19/2023,1812.31,"1,800.09","1,829.33","1,796.95",243.26K,0.63%,-0.004039
5,05/18/2023,1800.95,"1,822.93","1,831.50","1,774.82",293.73K,-1.16%,-0.006268
6,05/17/2023,1822.11,"1,824.36","1,834.41","1,785.76",352.10K,-0.10%,0.011749
7,05/16/2023,1823.95,"1,816.13","1,829.96","1,797.59",311.43K,0.38%,0.001010
8,05/15/2023,1817.13,"1,799.33","1,845.21","1,786.60",387.98K,0.99%,-0.003739
9,05/14/2023,1799.33,"1,794.87","1,822.91","1,791.84",218.10K,0.24%,-0.009796

In [7]:
type(dp['Price'][0])

numpy.float64

In [ ]:
mean_ret = dp['Returns'].mean()
var_ret = dp['Returns'].var()
std_ret = math.sqrt(var_ret)
std_ret_ann = math.sqrt(366 * var_ret)
print(' mean:',mean_ret,'\n std (daily):', std_ret,'\n std (annualised):',std_ret_ann)
# returns.head()
# ddp = dp - dp[0]
# ddp.head()

In [ ]:
# sos = (dp['Returns'] - mean_ret)**2
# sos.head()
print(sos[1:].sum)

In [ ]:
dp.plot(x='Date',y='Returns')
plt.figure(figsize=(15, 9), dpi=300) 
plt.show()

In [ ]:
# Get a list of all CSV files
filenames=glob.glob('gbm0.1_*.csv')
print(filenames)
x = len(filenames)

In [ ]:
mu = 0
sig = 0.1
mu - sig **2 /2

In [ ]:
plt.figure(figsize=(15, 9), dpi=200) 
plt.title('realisations of GBM')
plt.grid(True)
for filename in filenames:
    data = pd.read_csv(filename)
#     plt.plot(data.iloc[:, 0], data.iloc[:, 1])  # Plot the first column against the second
    sns.lineplot(x=data.iloc[:, 0], y=data.iloc[:, 1])

plt.show()

In [ ]:
# filename2 = glob.glob('ETH_USDC_trades_2023-04.csv')
dp2 = pd.read_csv('ETH_USDC_trades_2023-04.csv')
dp2.head()

In [ ]:
# Binance data 1-min data interval on ETH/USDC last month
# Drift/min = 6.227795797286718e-08
# Vol/min = 0.00023135889198212133

In [ ]:
# dp2['Price'] = data_price['Price'].str.replace(',', '').astype(float)
dp2['Returns'] = dp['Price'] / dp['Price'].shift(1) - 1
dp.head()
mean_ret = dp['Returns'].mean()
var_ret = dp['Returns'].var()
std_ret = math.sqrt(var_ret)
std_ret_ann = math.sqrt(366 * var_ret)
print(' mean:',mean_ret,'\n std (daily):', std_ret,'\n std (annualised):',std_ret_ann)